@model IEnumerable<GourmetShop.DataAccess.Models.Order>


@{
	ViewData["Title"] = "Orders";
}

<div class="cover-container d-flex align-items-center justify-content-center text-center">
	<div class="content">
        <h1 class="mb-4">Orders List</h1>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Number</th>
                    <th>User Name</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.OrderNumber</td>
                        <td>@(order.UserInfo != null ? order.UserInfo.FirstName : "N/A")</td>
                        <td>@(order.UserInfo != null ? order.UserInfo.LastName : "N/A")</td>
                        <td>@order.OrderDate.ToShortDateString()</td>
                        <td>@order.TotalAmount?.ToString("C")</td>
                        <td>
                            <ul>
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>@item.Product.ProductName - @item.Quantity x @item.UnitPrice.ToString("C")</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
	</div>

</div>